<!doctype html>
<html lang="pt-BR">
  <head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="{{ url_for('static', path='css/style.css') }}" rel="stylesheet" />
  <script
    src="https://unpkg.com/htmx.org@1.9.5"
    integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
    crossorigin="anonymous"
  ></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/disable-element.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
    rel="stylesheet"
  />
  <script
    src="https://kit.fontawesome.com/9c12109b80.js"
    crossorigin="anonymous"
  ></script>
</head>
  <body>
    {% block content %} {% endblock %}
  </body>
</html>
