<ul id="todo-{{ id }}">
  <div id="indicator-{{ id }}" class="htmx-indicator todo-loading">
    <img src="{{ url_for('static', path='bars.svg') }}" />
  </div>
  <div class="todo-content">
    <p
      hx-put="{{ url_for('change', id=id ) }}"
      hx-target="#todo-{{id}}"
      hx-swap="outerHTML"
      hx-indicator="#indicator-{{id}}"
      name="its_done"
      value="{{ todo.its_done }}"
    >
      {% if todo.its_done %}
      <i class="fa-regular fa-solid fa-square-check"></i>
      {% else %}
      <i class="fa-regular fa-square"></i>
      {% endif %} {{todo.text}}
    </p>
    <button
      class="remove-button"
      hx-delete="{{ url_for('remove', id=id) }}"
      hx-target="#todo-{{id}}"
      hx-indicator="#indicator-{{id}}"
      hx-swap="delete"
    >
      <i class="fa-solid fa-trash"></i>
    </button>
  </div>
</ul>
